# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\class_dev\test_dev_sample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
